.App {
  background-image: url(../public/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 2rem;
}

.headerWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.level{
  display: flex;
  justify-content: center;
}
ul{
  list-style: none;
  text-align: left;
}
.body{
  display: flex;
  flex-wrap: wrap;
}

.gameDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
img{
  max-width: 150px;
}
